@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+4:ital,opsz@1,8..60&display=swap');

a {
   align-items: center;
   border-bottom: 2px dotted #D9D9D9;
   color: #000;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   text-decoration: none;
  
}

.a_title{
    border: none;
    color: #007C21;
    font-family: 'Source Serif 4', serif;
    font-size: 200%;
    margin: 0 0 0 10px;
}

.a_backTo {
    border: 1px solid #007C21; /* Рамка */
    background-color: #64DF85;
    color: #007C21;
    display: inline-block;
    padding: 5px 15px; /* Поля */
    margin: 30px 0 0 20px;
    text-decoration: none; /* Убираем подчёркивание */
    text-align: center;
    color: #000; /* Цвет текста */
    cursor: pointer;
    width: 245px;
  }


p{
    margin:0;
    padding: 10px 0 10px 5px;
}


body{
    
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    display: block;
    height: 100%;
}

#box{
    border: 2px dotted #D9D9D9;
    margin: 50px 0 0 150px;
    width: 20%;
}

 #button_NewCategory {
    border: 2px dotted #007C21;
    background-color: #64DF85;
    display: inline-block;
    font-size: 100%;
    margin: 10px 0 0 35px;
    padding: 5px 15px; /* Поля */
    text-align: center;
    text-decoration: none;
    color: #007C21; /* Цвет текста */
    cursor:pointer;
    height: 40px;
    width: 150px;
}

.buttons_group, .edit_buttons_group, .new_buttons_group{
    background-color: #FF1E00; 
    border: 2px dotted #fff;
    height: 48px;
    margin: 5px 10px 0 0;
    width: 80px;
}

 #cardsColumn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 #cardsColumn, #newCardsColumn{
     border-top: 2px dotted #007C21;
     float: left;
     padding-top: 20px;
     width: 75%;
     height: 100%;
}

#centerColumn, #centerColumnMain{
   border-top: 2px dotted #007C21;
   background-color: #38DF64;
   float: right;
   height: 81vh;
   width: 75%; 
   
}

.card_front, .card_back, .card_frontEdit, .card_backEdit{
    border: 2px dotted #007C21;
    font-size: 120%;
    padding: 20px 0 0 10px;
    resize: none;
    text-align: center;
    width: 47%;
    height: 100%;
}  

.card_front, .card_frontEdit{
    background-color: #38DF64;
}

.div_newcard, .div_cardEdit{
    margin:  20px;
    display: flex;
    justify-content: space-between;
    width: 520px;
    height: 230px;
}

.div_cardEdit{
    position: relative;
}

.delete{
    border-radius: 3px;
    background:
    linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
    display: block;
    position: absolute;
    top:10px; 
    right: 10px;    
    width: 20px;
    height: 20px;
    --weight: 2px;
    --aa: 1px; /* anti-aliasing */
    --color: red;
    cursor:pointer;
    opacity: 0.8;
 }
    

#group_left, #group_right{
   display: flex;
   flex-direction: row;
   flex-wrap:nowrap;
   justify-content: end;
   width: 40%;
 }

#group_left{
  justify-content: start;  
   width: 30%; 
}

#group_center{
    width: 28%;
}

#input_NewCategory{
    border:0;
    border-bottom: 2px solid #007C21;
    color: #007C21;
    outline: none;
    margin: 30px 0 0 20px;
    padding: 0 0 0 10px;
    height: 45px;
    width: 270px;
}
#input_editCategory{
    border:0;
    border-bottom: 2px solid #D2D2D2;
    display: inline-block;
    outline: none;
    margin: 5px 0 0 0;
    height: 45px;
    width: 100%; 
    
}

#oneCategory{
    background-color: #F8F9F9;
    border-bottom: 2px solid #64DF85;
    text-align: center;
    display: inline-block;
    outline: none;
    margin: 5px 0 0 0;
    padding-top:10px;
    height: 35px;
    width: 100%; 
}



#newCardsColumn, #editCardsColumn{
    display: flex;
    height: 100%;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#leftColumn{
   border-top: 2px dotted #007C21;
   background-color: #38DF64;
   height: 81vh;
   float: left;
   width: 25%;
   display: flex;
   flex-direction: column;
}



#message{
    text-align: center;
    background-color: #FF1E00;
    border:0;
    display: none;
    margin: 0 0 0 25%;
    padding: 15px;
    height: 30px;
    width: 380px;
}

#input_oneCategory{
    border:0;
    border-bottom: 2px solid #D2D2D2;
    outline: none;
    margin: 5px 0 0 0;
    padding: 0 0 0 10px;
    height: 45px;
    width: 25%;
}


#search, #edit, #new{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 60px;
 }


#top{
    border-bottom: 2px dotted #007C21;
     background-color: #38DF64; 
     display: flex;
     height: 60px;
     flex-direction: row;
     justify-content: start;
}



/*****************Begin Card Styles************/
.card{
    width: 250px;
    height: 250px;
    margin: 20px 20px 20px 20px;
    position: relative;
    perspective: 1000px; /*глубина*/
}
 
.front, .back{
    backface-visibility: hidden;
    border:2px dotted #007C21;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 95%;
    width: 100%;
    position: absolute; 
    transition: 1s;
    padding-top: 5%;
 }

.front{
    background-color: #38DF64;
}

.back{
    background-color: #fff;
    transform: rotateY(180deg);
}

.card:hover .front{transform: rotateY(180deg);}
.card:hover .back{transform: rotateY(360deg);}

/************End Card Styles*************/

 
/************TextArea Styles**************************/

input[type="text"]{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}